body{
    margin: 0;
}
div.main-container{
    width: 98%;
    margin: 0 auto;
}
div.item-container{
    width: 33%;
    display: inline-block;
    text-align: center;
    position: relative;
    overflow: hidden;
}
div.item-container img{
    width: 99%;
    margin: 1% 1%;
}
div.item-container span.item-love-mark{
    width: 10%;
    padding: 1% 0;
    font-size: 4em;
    font-weight: bolder;
    color: black;
    position: absolute;
    background-color: white;
    display: inline-block;
    left: 90%;
    top: 3%;
}
div.item-discount{
    background-color: red;
    position: absolute;
    top: 80%;
    left: 1%;
    color: white;
    padding: 2% 0;
    width: 15%;
    font-weight: bold;
    font-size: 2.5em;
}
div.item-sostenibility{
    background-color: green;
    position: absolute;
    top: 80%;
    left: 15%;
    color: white;
    padding: 2%;
    font-weight: bold;
    font-size: 2.5em;
}
div.item-description{
    text-align: left;
    margin-left: 1%;
    width: 100%;
}
div.item-description h1,h2,h3{
    margin: 0;
    padding: 0
}
div.item-description h1{
    font-weight: bold;
}
span.price-discount{
    color: red
}
span.original-price{
    text-decoration: line-through;
}